.wholeDiv {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.upperDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.highScore {
    display: flex;
    justify-content: left;
    color: violet;
}

#highScoreButton {
    background: transparent;
    border: none;
    
}

.timerDiv {
    display: flex;
}

.timer {
    display: flex;
    justify-content: right;
    font-weight: normal;
}

.quizPrompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.startingPromptDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startButton {
    display: flex;
}

.h1Prompt {
    display: flex;
}

.pPrompt {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.quizPrompt button {
    color: white;
    background-color: #392467;
    border-radius: 10%;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
}

button:hover {
    background-color: violet;
}

.hidden {
    display: none;
}

.answerChoices {
    display: flex;
    flex-direction: column;
}